<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <span class="navbar-brand">NBAStats</span>
    <ul class="navbar-nav">
        <a class="nav-link" href="{% url 'home' %}?next={{request.path}}">Home</a>
    </ul>
    <ul class="navbar-nav mr-auto">
        {% if allstars %}
        <a class="nav-link" href="{% url 'my_all_stars_update' %}?next={{request.path}}">MyAllStars</a>
        {% else %}
         <a class="nav-link" href="{% url 'my_all_stars' %}?next={{request.path}}">MyAllStars</a>
        {% endif %}
    </ul>
    <ul class="navbar-nav">
      {% block header %}
          {% if user.is_authenticated %}
              <p>User: {{ user.username }} | <a href="{% url 'logout' %}?next={{request.path}}">Logout</a></p>
          {% else %}
              <p><a href="{% url 'login' %}?next={{request.path}}">Login</a></p>
          {% endif %}
      {% endblock %}
    </ul>
</nav>

<style>
body{
  background-color: #9C9C9C;
}
</style>
<body>
  <div>
      </br>
      </br>
      </br>
      {% block content %}
      {%  endblock %}
  </div>
</body>
</html>
