<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
body{
  background-color: #9C9C9C;
}
</style>
<body>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <ul class="navbar-nav">
          <img src="https://cdn.freebiesupply.com/images/large/2x/nba-logo-transparent.png" height="50" width="25"/>
        </ul>
        <span class="navbar-brand">NBAStats</span>
        <ul class="navbar-nav">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </ul>
        <ul class="navbar-nav">
            <a class="nav-link" href="{% url 'my_all_stars' %}">MyAllStars</a>
        </ul>
        <ul class="navbar-nav mr-auto">
            <a class="nav-link" href="{% url 'all_all_stars' %}">AllStars</a>
        </ul>

        <ul class="navbar-nav">
          {% block header %}
              {% if user.is_authenticated %}
                  <p>User: {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
              {% else %}
                  <p><a href="{% url 'login' %}">Login</a></p>
              {% endif %}
          {% endblock %}
        </ul>
    </nav>
  <div>
      </br>
      </br>
      </br>
      {% block content %}
      {%  endblock %}
  </div>
</body>
</html>
