{%  extends 'NBAstats/base.html' %}
{% block content %}
    <span vocab="http://schema.org/" typeof="SportsTeam">
    <h1>
        <span property="legalName">
            Conference {{ conference.conference_name }}
        </span>
    </h1>
    
    <ul class="nav justify-content-center">
    {% for team in teams %}
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="team/{{ team.team_id }}">
              <span property="logo">
                <img src="{{ team.image_path }}" height="250" width="250" hspace="20"/>
              </span>
          </a>
        </li>
        <li class="nav-item">
            <div style="text-align: center;">
              <h4><a href="team/{{ team.team_id }}">{{ team.team_city}} {{ team.team_name}}</a></h4>
            </div>
        </li>
      </ul>
    {%  endfor %}
    </ul>
</span>
{%  endblock %}
