{%  extends 'NBAstats/base.html' %}
{% block content %}
    <h1>Conference {{ conference.conference_name }}</h1>

    <ul class="nav">
    {% for team in teams %}
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="team/{{ team.team_id }}">
            <img src="{% static "team.image_path" %}"/>
          </a>
        </li>
        <li class="nav-item">
          <h4><a href="team/{{ team.team_id }}">{{ team.team_city}} {{ team.team_name}}</a></h4>
        </li>
      </ul>
    {%  endfor %}
    </ul>
{%  endblock %}
