{%  extends 'NBAstats/base.html' %}
{% load static %}
{% block content %}
<h1><center>Welcome to NBAStats</center></h1>

<ul class="nav justify-content-center">
  <ul class="nav flex-column">
    <a href="conference/1">
      <img src="https://sportsfly.cbsistatic.com/fly-181/bundles/sportsmediacss/images/conference-logos/nba/EAST.svg" height="300" width="300" hspace="40"/>
    </a>
  </ul>
  <ul class="nav flex-column">
    <a href="conference/2">
      <img src="https://www.nba.com/.element/media/2.0/teamsites/timberwolves/media/nba-western-conf-logo-180208.png" height="300" width="300" hspace="40"/>
    </a>
  </ul>
</ul>
<ul class="nav justify-content-center">
  <ul class="nav flex-column">
    <a href="{% url 'all_all_stars' %}?next={{request.path}}">
      <img src="https://png2.kisspng.com/sh/fd6ce51f3688b821ccd0f0dafa8eabf5/L0KzQYm3VMIyN5l7fZH0aYP2gLBuTcIxOWUyhtRqLXHvfH76lPFzNZhmhdc2bnLkPbLzjL10fJJ3ReluZXvofrW0UsAyO15zRdDrYT3vf7j2TcVibJNnedc5ZUe4Q4q9Tsc1QWU2S6c7MUW1RIS7WcY3PGo5T6c3cH7q/kisspng-2014-nba-all-star-game-nba-all-star-weekend-2013-n-nba-logo-5adbbae0e75396.7494135215243496649475.png" height="300" width="300"/>
    </a>
  </ul>
</ul>
{%  endblock %}
