{%  extends 'NBAstats/base.html' %}
{% load static %}
{% block content %}
<h1><center>Welcome to NBAStats</center></h1>

<ul class="nav justify-content-center">
  <ul class="nav flex-column">
    <a href="conference/1">
      <img src="{% static "NBAstats/img/eastlogo.png" %}"/>
    </a>
  </ul>
  <ul class="nav flex-column">
    <a href="conference/2">
      <img src="{% static "NBAstats/img/westlogo.png" %}"/>
    </a>
  </ul>
</ul>
<ul class="nav justify-content-center">
  <ul class="nav flex-column">
    <a href="{% url 'all_all_stars' %}?next={{request.path}}">
      <img src="{% static "NBAstats/img/AllStarsLogo.png" %}" height="300" width="300"/>
    </a>
  </ul>
</ul>
{%  endblock %}
