{%  extends 'NBAstats/base.html' %}
{% load static %}
{% block content %}

<h1><center>Welcome to NBA stats</center></h1>
<ul class="nav justify-content-center">
  <ul class="nav flex-column">
    <li class="nav-item">
        <img src="{% static "NBAstats/img/silueta.png" %}">
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
        <img src="{% static "NBAstats/img/silueta.png" %}">
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
        <img src="{% static "NBAstats/img/silueta.png" %}">
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
        <img src="{% static "NBAstats/img/silueta.png" %}">
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
        <img src="{% static "NBAstats/img/silueta.png" %}">
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
        <img src="{% static "NBAstats/img/silueta.png" %}">
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
        <img src="{% static "NBAstats/img/silueta.png" %}">
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
        <img src="{% static "NBAstats/img/silueta.png" %}">
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
        <img src="{% static "NBAstats/img/silueta.png" %}">
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
        <img src="{% static "NBAstats/img/silueta.png" %}">
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
        <img src="{% static "NBAstats/img/silueta.png" %}">
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
        <img src="{% static "NBAstats/img/silueta.png" %}">
    </li>
  </ul>
</ul>

    <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send message">
</form>
{% endblock %}
