{%  extends 'NBAstats/base.html' %}
{% load static %}
{% block content %}
    <ul class="navbar">
      <ul class="nav mr-auto justify-content-center">
        <img src="{{ team.image_path }}" height="65" width="65" hspace="20"/>
        <h1>{{team.team_city}} {{ team.team_name }}</h1>
      </ul>
      <ul class="nav justify-content-end">
        <h2><a class="btn btn-secondary btn-lg" href="stats/{{ team.team_id }}"> Team stats </a></h2>
      </ul>
    </ul>
    <ul class="nav justify-content-center">
    {% for player in players %}
      <ul class="nav flex-column">
        <li class="nav-item">
          {% if player.player_photo %}
            <a href="player/{{ player.player_id }}">
              <img src="{{ player.player_photo }}" hspace="10"/>
            </a>
          {% else %}
            <a href="player/{{ player.player_id }}">
              <img src="https://5wnoticias.com/images/hombre.png" height="195" width="195" hspace="10"/>
            </a>
          {% endif %}
        </li>
        <li class="nav-item">
          <div style="text-align: center;">
            <h4><a href="player/{{ player.player_id }}">{{ player.name}} {{player.last_name }}</a></h4>
          </div>
        </li>
      </ul>
    {%  endfor %}
    </ul>
{%  endblock %}
