{%  extends 'NBAstats/base.html' %}
{% load static %}
{% block content %}

<h1><center>User: {{user_team.user_id.username}}</center></h1>

<ul class="nav justify-content-center">
  <ul class="nav flex-column">
    <li class="nav-item">
      {% if user_team.player_1.player_photo %}
        <img src="{{ user_team.player_1.player_photo }}" hspace="10"/>
      {% else %}
        <img src="https://5wnoticias.com/images/hombre.png" height="195" width="195" hspace="10"/>
      {% endif %}
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
      {% if user_team.player_2.player_photo %}
        <img src="{{ user_team.player_2.player_photo }}" hspace="10"/>
      {% else %}
        <img src="https://5wnoticias.com/images/hombre.png" height="195" width="195" hspace="10"/>
      {% endif %}
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
      {% if user_team.player_3.player_photo %}
        <img src="{{ user_team.player_3.player_photo }}" hspace="10"/>
      {% else %}
        <img src="https://5wnoticias.com/images/hombre.png" height="195" width="195" hspace="10"/>
      {% endif %}
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
      {% if user_team.player_4.player_photo %}
        <img src="{{ user_team.player_4.player_photo }}" hspace="10"/>
      {% else %}
        <img src="https://5wnoticias.com/images/hombre.png" height="195" width="195" hspace="10"/>
      {% endif %}
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
      {% if user_team.player_5.player_photo %}
        <img src="{{ user_team.player_5.player_photo }}" hspace="10"/>
      {% else %}
        <img src="https://5wnoticias.com/images/hombre.png" height="195" width="195" hspace="10"/>
      {% endif %}
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
      {% if user_team.player_6.player_photo %}
        <img src="{{ user_team.player_6.player_photo }}" hspace="10"/>
      {% else %}
        <img src="https://5wnoticias.com/images/hombre.png" height="195" width="195" hspace="10"/>
      {% endif %}
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
      {% if user_team.player_7.player_photo %}
        <img src="{{ user_team.player_7.player_photo }}" hspace="10"/>
      {% else %}
        <img src="https://5wnoticias.com/images/hombre.png" height="195" width="195" hspace="10"/>
      {% endif %}
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
      {% if user_team.player_8.player_photo %}
        <img src="{{ user_team.player_8.player_photo }}" hspace="10"/>
      {% else %}
        <img src="https://5wnoticias.com/images/hombre.png" height="195" width="195" hspace="10"/>
      {% endif %}
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
      {% if user_team.player_9.player_photo %}
        <img src="{{ user_team.player_9.player_photo }}" hspace="10"/>
      {% else %}
        <img src="https://5wnoticias.com/images/hombre.png" height="195" width="195" hspace="10"/>
      {% endif %}
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
      {% if user_team.player_10.player_photo %}
        <img src="{{ user_team.player_10.player_photo }}" hspace="10"/>
      {% else %}
        <img src="https://5wnoticias.com/images/hombre.png" height="195" width="195" hspace="10"/>
      {% endif %}
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
      {% if user_team.player_11.player_photo %}
        <img src="{{ user_team.player_11.player_photo }}" hspace="10"/>
      {% else %}
        <img src="https://5wnoticias.com/images/hombre.png" height="195" width="195" hspace="10"/>
      {% endif %}
    </li>
  </ul>
  <ul class="nav flex-column">
    <li class="nav-item">
      {% if user_team.player_12.player_photo %}
        <img src="{{ user_team.player_12.player_photo }}" hspace="10"/>
      {% else %}
        <img src="https://5wnoticias.com/images/hombre.png" height="195" width="195" hspace="10"/>
      {% endif %}
    </li>
  </ul>
</ul>
{% endblock %}
